In [1]:
import numpy as np
import pandas as pd

###### Creating a Series from Python Objects

In [9]:
myindex = ['USA','Canada','Mexico']
mydata = [1776,1867,1921]

In [20]:
#help(pd.Series)

In [11]:
pd.Series(data = mydata)

0    1776
1    1867
2    1921
dtype: int64

In [12]:
pd.Series(data = mydata,index= myindex)

USA       1776
Canada    1867
Mexico    1921
dtype: int64

In [14]:
ran_age = np.random.randint(0,90,4)

In [15]:
names = ['Virat','Rohit','Rishabh','Siraj']

In [16]:
pd.Series(ran_age,names)

Virat      80
Rohit      22
Rishabh    73
Siraj      15
dtype: int64

In [17]:
pd.Series(names,ran_age)

80      Virat
22      Rohit
73    Rishabh
15      Siraj
dtype: object

In [18]:
pd.Series(index = names, data = ran_age)

Virat      80
Rohit      22
Rishabh    73
Siraj      15
dtype: int64

###### Creating Series from a Dictionary

In [21]:
ages = {'Virat':80,'Rohit':18,'Siraj':67}

In [22]:
ages

{'Virat': 80, 'Rohit': 18, 'Siraj': 67}

In [23]:
pd.Series(ages)

Virat    80
Rohit    18
Siraj    67
dtype: int64

#### Key Ideas

In [24]:
q1 = {'Japan':80,'China':450,'India':200,'USA':250}
q2 = {'Brazil':100,'China':500,'India':700,'USA':260}

In [25]:
#convert into series
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

In [26]:
sales_Q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [27]:
sales_Q2

Brazil    100
China     500
India     700
USA       260
dtype: int64

In [33]:
#call values based on named/labeled index
sales_Q1['Japan']

80

In [30]:
#call values based on location 
sales_Q1[0]

/var/folders/wl/v3x3g82n3b38s3cvwvtr0r7h0000gn/T/ipykernel_4175/569036370.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sales_Q1[0]

80

In [34]:
sales_Q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [36]:
sales_Q1**0.5

Japan     8.944272
China    21.213203
India    14.142136
USA      15.811388
dtype: float64

In [39]:
sales_Q1 + sales_Q2

Brazil      NaN
China     950.0
India     900.0
Japan       NaN
USA       510.0
dtype: float64

In [43]:
sales_Q1.add(sales_Q2,fill_value=0)

Brazil    100.0
China     950.0
India     900.0
Japan      80.0
USA       510.0
dtype: float64