###### one line for loop built inside of brackets to output list

In [1]:
[l.upper() for l in 'word']

['W', 'O', 'R', 'D']

In [16]:
[num/3 for num in [n**3 for n in range(1,11)] if num/3 > 20]

[21.333333333333332,
 41.666666666666664,
 72.0,
 114.33333333333333,
 170.66666666666666,
 243.0,
 333.3333333333333]

In [4]:
#add if statements

[n**2 for n in range(1,31) if n%2 == 0]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900]

* first letter each word of this string s = 'This is MLDAP course which is the comprehensive course on Data Analtyics and Machine Learning'
* Filter out all the vowels from this string and store the remaining characters in a list
* length of each word of this string
* create a list of numbers from 1 to 30 where each number is replaced with 'even' if it is even and 'odd' if it is odd.
* All the numbers between 50 and 250 which are divisible by both 3 and 5

In [1]:
s = 'This is MLDAP course which is the comprehensive course on Data Analtyics and Machine Learning'

In [3]:
#1
[w[0] for w in s.split()]

['T', 'i', 'M', 'c', 'w', 'i', 't', 'c', 'c', 'o', 'D', 'A', 'a', 'M', 'L']

In [5]:
#2
[l for l in s.lower() if l not in 'aeiou']

['t',
 'h',
 's',
 ' ',
 's',
 ' ',
 'm',
 'l',
 'd',
 'p',
 ' ',
 'c',
 'r',
 's',
 ' ',
 'w',
 'h',
 'c',
 'h',
 ' ',
 's',
 ' ',
 't',
 'h',
 ' ',
 'c',
 'm',
 'p',
 'r',
 'h',
 'n',
 's',
 'v',
 ' ',
 'c',
 'r',
 's',
 ' ',
 'n',
 ' ',
 'd',
 't',
 ' ',
 'n',
 'l',
 't',
 'y',
 'c',
 's',
 ' ',
 'n',
 'd',
 ' ',
 'm',
 'c',
 'h',
 'n',
 ' ',
 'l',
 'r',
 'n',
 'n',
 'g']

In [6]:
#3
[len(w) for w in s.split()]

[4, 2, 5, 6, 5, 2, 3, 13, 6, 2, 4, 9, 3, 7, 8]

In [7]:
#4
['even' if num%2 == 0 else 'odd' for num in range(1,31)]

['odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

In [8]:
[num for num in range(50,250) if num%3 ==0 and num%5 == 0]

[60, 75, 90, 105, 120, 135, 150, 165, 180, 195, 210, 225, 240]

In [10]:
lst = [[1,2,3],[4,5],[6,7,8]]
[item for sublist in lst for item in sublist]

[1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
celsius = [0,10,30.34,45,38.87]

#F = (9/5)*C + 32

[((9/5)*i+32)for i in celsius]

[32.0, 50.0, 86.612, 113.0, 101.966]

In [13]:
['hi' for i in celsius]

['hi', 'hi', 'hi', 'hi', 'hi']